@font-face {
    font-family: 'lemonMilBold';
    src: url(../fonts/lemon_milk/LEMONMILK-Bold.otf);
}

@font-face {
    font-family: 'sterla';
    src: url(../fonts/sterla/Sterla.ttf);
}

@font-face {
    font-family: 'lemonMildLinght';
    src: url(../fonts/lemon_milk/LEMONMILK-Light.otf);
}


body {
    margin: 0;
    padding: 0;

    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 15px;
}

.encabezado {
    background-image: url(../imgs/wakaRocio.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    background-color: black;
}

.encabezadoGaleria {
    margin: 0;
    display: grid;
}


.encabezado section {
    background-color: rgba(0, 0, 0, 0.4);

}

.contImg {
    text-align: center;

    background-image: url(../imgs/Tujil\ L2\ blanco.png);
    background-position: center;
    background-repeat: no-repeat;
}




.mensajePrincipal {
    background-color: rgba(0, 0, 0, 0.5);

    color: white;

}






.principal {
    display: grid;

    background-image: url(../imgs/textureBooks.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.principal section {
    margin: 5px;
}

.logoPrincipal {
    padding: 35px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
}



.contRedes {
    background-color: rgba(29, 25, 52);
    display: flex;
    text-align: center;
}

.redes a {
    text-decoration: none;
    /* Elimina el subrayado de los enlaces */
    color: white;
    font-size: 42px;
}

.contRedes a {
    margin: 5px;
    padding: 10px;
    flex-grow: 1;
}

.contRedes a:hover {
    color: black;
    background-color: white;
    transition-duration: 500ms;
}



.imgLogoPrin {
    text-align: center;
    margin: 5px;
    padding-top: 20px;
}

.imgLogoPrin img {
    width: 75%;
    margin-bottom: 10px;
}

.pPrincipal {
    font-weight: 300;
    text-align: justify;
    margin-bottom: 20px;
}

.contCulturaLugar {
    display: grid;
    grid-template-rows: 1fr 2fr;

}


.contInfoCalendario {
    text-decoration: none;
    color: white;
    transition: 1000ms;
}

.contInfoCalendario:hover {
    transition: 500ms;
    transform: scale(1.1);
}

.infoCalendario {
    text-align: right;
    display: grid;
    grid-template-rows: 1fr 1fr;
    color: white;
    padding: 50px;
    background-color: rgba(0, 110, 99);
    margin-bottom: 15px;
}

.infoCalendario p {
    font-size: 20px;
    font-weight: 300;
}

.contLocation {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    text-align: left;
}

.contLocation h1 {
    font-size: 50px;
    font-weight: 300;
}

.contLocation img {
    margin: 1px;
}

.diasCont {
    font-size: 30px;
    font-weight: 300;
}



.infoCultura {
    padding: 20px;
    background-color: rgba(177, 32, 41);
    color: #ffffff;
    text-align: center;
    align-content: center;
}

.infoCultura h2 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 35px;
    line-height: 30px;
}

.PrimerParrafoCultura {
    margin-top: 35px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: #ffffff 2px solid;
}

.PrimerParrafoCultura p {
    font-weight: 600;
}

.segundoParrafoCultura {
    text-align: justify;
    font-weight: 300;
    font-size: small;
}

.artSecundario {
    margin: 15px;
}

.hSecundario {
    font-size: 50px;
}

.textoPresentacion h1 {
    font-family: 'lemonMilBold';
}

.sSecundario {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}

.articulosTexto {
    color: white;
    background-color: rgba(29, 25, 52);
    padding: 15px;
    margin: 5px;
    font-size: 13px;
}

.imgVertical1 {
    background-image: url(../imgs/barrilete1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer {
    background-image: url(../imgs/sombreros.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}


.contFooter {
    display: grid;
    background-color: rgba(29, 25, 52, 0.85);
    color: white;
}

.contFooter h2 {
    font-family: 'lemonMilBold';
}

.hPatrocinadores {
    text-align: center;
    margin: 25px;
    padding: 25px;
}

.patrocinadores {
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-left: 1%;
    padding-right: 1%;
    flex-wrap: wrap;
}

.patrocinadores img {
    object-fit: contain;
    margin: 5px;
    object-position: center;
}

.separador {
    background-image: url(../imgs/tujilAve.png);
    margin: 25px;
    background-repeat: repeat-x;
    background-size: 50px;
    height: 50px;
}

.verdeClarito {
    background-color: #19988b;
    color: white;
}

.rojito {
    background-color: #b12029;
    color: white;
}

.verdeOscurito {
    background-color: #006e63;
    color: white;
}

.azulOscurito {
    background-color: #1d1934;
    color: white;
}

.negrito {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}
.rojoOscuro{
    background-color: #581014;
    color: white;
}




.contImgPresentación {

    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: top;
    transition: 1000ms;
}


.contImgPresentación:hover {
    transition: 500ms;

    filter: contrast(120%);
}






/*---------------------------------------------------
Generales Galeria
-----------------------------------------------------*/
.contGaleriaGeneral {
    background-image: url(../imgs/textureBooks.jpg);
}

.galerias {
    padding: 2% 5%;
}

.fondoContGaleria {
    border-radius: 5px;
    border-left: solid #ffffff 30px;
    margin-top: 15px;
}

.moradito {
    background-color: #00001A;
    color: white;
}



.contGaleria h1 {
    font-family: 'lemonMilBold';
}

.naranjita {
    background-color: #EFC77F;
    color: black;

}

.verdesitoOscuro {
    background-color: #2A7D5F;
    color: white;
}

.naranjota {
    background-color: #E58E01;
    color: white;
}
.blancote{
    background-color: white;
    color: black;
}



.contGaleria p {
    font-size: 15px;
    font-weight: 300;
    text-align: justify;
}

.contImgGaleria {
    transition: 1000ms;
}
.contImgGaleria:hover {
    transition: 500ms;
    transform: scale(1.1) rotate(-20deg);

}



/*-----------------------------------
Imagenes de Presentaciones
------------------------------------
*/
.imgPL {
    background-image: url(../imgs/imgPL.jpg);
}

.imgLP {
    background-image: url(../imgs/imgLP.jpg);
}

.imgCC {
    background-image: url(../imgs/imgCC.JPG);
}

.imgArtesVisuales {
    background-image: url(../imgs/artesVisuales.jpg);
}

.imgMusica {
    background-image: url(../imgs/imgMusica.jpg);
}

.imgTalleres {
    background-image: url(../imgs/imgTalleres.jpg);
}

.contImgPresentación:hover {
    background-position-x: left;
}




.collages {
    overflow: hidden;
    padding: 1%;
    padding-left: 1%;
    padding-right: 1%;
    margin: 2%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);

}

.collages div {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}



.collages li:last-child {
    flex-grow: 1;
}

.collages img {
    transition: transform 500ms, transform-origin 50ms;
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: top;

}

.collages img:hover {
    transform: scale(1.8);
}

.OtrosPatrocinadores-cont {
    margin-top: 25px;
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 25px;
}

.itemsPatrocinadores {
    display: flex;
    width: 100%;
}

.carousel-track {
    display: flex;
    animation: scroll 25s linear infinite;
}

.carousel-track img {
    height: 75px;
    max-width: 130px;
    margin-right: 10px;
    object-fit: contain;
}

/* Animación que se repite de forma continua */
@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.pdf-container {
    margin-top: 10px;
    margin-bottom: 25px;
}



.contAutores img {
    border-radius: 100%;
    margin-right: 25px;
    overflow: hidden;
    margin-bottom: 10px;
}

.contAutores {
    font-family: "Josefin Slab", serif;
    font-weight: 500;
    font-size: 17px;
    font-style: normal;
    line-height: 20px;
    padding: 5%;
    border-top: solid 1px #212529;
}

.contAutores p {
    text-align: justify;
}

.contNombreAutor p{
    font-style: italic;
    font-size: 20px;
    font-weight: 700;
    text-align: right;
}

.edicion2025{
    background-image: url(../imgs/poster2025.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-family: lemonMilBold;
    
}
.edicion2025Letras{
    padding: 15%;
    background-color: rgba(0, 0, 0,0.3);
}

/* Medias
------------------------------------------------------------------------------------------



*/



@media (max-width: 480px) {
    .encabezado {
        display: flex;
        flex-direction: column;

    }

    .menu {
        display: none;
    }

    .menuPequeno {

        /* Elimina los estilos de lista */
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        align-items: end;
        text-align: center;
        padding: 1%;
        border-radius: 1%;
        background-color: rgba(0, 0, 0, 0.5);
        overflow: hidden;
    }
    .menuPequeno i{
        font-size: 30px;
    }
    .menuPequeno p{
        font-size: 10px;
    }

    .menuPequeno a {
        text-decoration: none;

        /* Elimina el subrayado de los enlaces */
        color: white;
        /* Color de texto negro */

        transition: 1000ms;
        margin-right: 2.5px;
        margin-left: 2.5px;

    }



    .contImgMenu img {
        width: 65%;
    }


    .menuPequeno a:hover {
        transform: scale(1.1);

        transition-duration: 500ms;
    }



    .contImg {
        display: none;
    }

    .mensajePrincipal {
        margin: 0px;
        padding: 40px;
        margin-bottom: 50px;
    }

    .mensajePrincipal h1 {
        font-weight: 300;
        font-size: 35px;
        margin-bottom: 25px;
    }

    .principal {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .contPresentacioLeft {
        display: grid;
        grid-template-columns: 2fr 1fr;
        text-align: center;
        justify-content: center;
        align-items: center;

    }

    .contPresentacioRigth {
        display: grid;
        grid-template-columns: 1fr 2fr;
        text-align: center;
        justify-content: center;
        align-items: center;
    }



    .textoPresentacion {
        padding: 15px;
        padding-top: 100px;
        padding-bottom: 100px;
    }


    /* Carrusel */
    .carruselAutores {
        font-family: lemonMilLight;
        display: flex;
        /* Usa flexbox */
        justify-content: center;
        /* Alinea al centro horizontalmente */
        background-color: #080E1C;
        padding: 35px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 100px;
        color: white;
    }

    .carousel-container {
        position: relative;
        /* Posición relativa */
        width: 100%;
        /* Ancho del contenedor */
        overflow: hidden;
        /* Oculta el desbordamiento */

    }

    .carousel {
        display: flex;
        /* Usa flexbox */
        overflow: hidden;
        /* Oculta el desbordamiento */
    }

    .carousel-items {
        display: flex;
        /* Usa flexbox */
        transition: transform 0.5s ease;
        /* Transición de transformación */
    }

    .carousel article {
        flex: 0 0 calc(14%);
        /* Flexible, sin crecer ni encoger, ancho fijo para mostrar 4 artículos */
        margin: 10px;
        /* Margen */
        /* Padding */
        background: rgba(255, 255, 255, 0.9);

        /* Sombra */
        text-align: left;
        border-radius: 15px;

    }

    .contTextCarrusel {
        padding: 25px;
    }

    .carousel a {
        text-decoration: none;
        color: black;

    }

    .tituloCarrousel {
        font-family: lemonMilBold;
    }

    .contImgCarrusel {
        height: 300px;
        overflow: hidden;
        border-radius: 15px 15px 45px 0px;
    }

    .carousel img {
        position: relative;
        /* Altura automática */

        margin-bottom: 10px;
    }

    /* Botones de navegación del carrusel */
    #prevBtn,
    #nextBtn {
        position: absolute;
        /* Posición absoluta */
        top: 50%;
        /* Alineación vertical al centro */
        transform: translateY(-50%);
        /* Ajuste vertical */
        background: rgba(0, 0, 0, 0.5);
        /* Fondo semitransparente */
        color: white;
        /* Color de texto blanco */
        border: none;
        /* Sin borde */
        padding: 10px;
        /* Padding */
        cursor: pointer;
        /* Cursor tipo puntero */
        z-index: 1;
        /* Índice de apilamiento */
    }

    #prevBtn {
        left: 0px;
        /* Alineación a la izquierda */
    }

    #nextBtn {
        right: 0px;
        /* Alineación a la derecha */
    }


    /* Sección collage de la página */

    /* Estilos para el contenedor principal de la sección */
    .sectionMoreProductos {
        display: grid;
        /* Usa una cuadrícula CSS */
        grid-template-columns: 1fr 1fr;
        /* Dos columnas iguales */
        padding: 5%;
        /* Padding interior */
        opacity: 0;
        /* Empieza invisible */
        transition: opacity 2s ease-in-out;
        /* Transición de opacidad */
    }

    .contacto {
        background-color: #1d1934;
        color: white;
        padding: 25px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .TitulosEdiciones {
        padding-left: 35px;
        padding-right: 35px;
        font-family: lemonMilBold;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        text-align: center;
    }

    .collages li {
        list-style: none;
        overflow: hidden;
        height: 25vh;
        flex-grow: 1;
        border: solid white 2px;
    }

    .TitulosEdiciones img {
        max-width: 45%;
        object-fit: cover;
    }

    .patrocinadores img {
        max-width: 30%;
        max-height: 120px;
    }
    .contAutores{
        text-align: center;
    }
    .contAutores img{
        width: 70%;
    }
    .contGaleria {
        display: flex;
        flex-wrap: wrap-reverse;
        text-align: center;
        align-items: center;
    }
    .contGaleria img {
        border: 10px solid white;
        border-bottom: 50px solid white;
        width: 90%;
    }
    .contImgGaleria {
        text-align: center;
        margin: 15px;
    }
    .contGaleria article {
        padding: 10px 40px;
    }
}

/* 📱 Teléfonos medianos y grandes (481px - 768px) */
@media (min-width: 481px) and (max-width: 768px) {
    .encabezado {
        display: flex;
        flex-direction: column;

    }

    .menu {
        display: none;
    }


    .menuPequeno {

        /* Elimina los estilos de lista */
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        align-items: end;
        text-align: center;
        padding: 1%;
        border-radius: 1%;
        background-color: rgba(0, 0, 0, 0.5);
        overflow: hidden;
    }
    .menuPequeno i{
        font-size: 40px;
    }
    .menuPequeno p{
        font-size: 15px;
    }

    .menuPequeno a {
        text-decoration: none;

        /* Elimina el subrayado de los enlaces */
        color: white;
        /* Color de texto negro */

        transition: 1000ms;
        margin-right: 2.5px;
        margin-left: 2.5px;

    }



    .contImgMenu img {
        width: 45px;
    }


    .menuPequeno a:hover {
        transform: scale(1.1);

        transition-duration: 500ms;
    }


    .contImg {
        display: none;
    }

    .mensajePrincipal {
        margin: 15px;
        padding: 35px;
    }

    .mensajePrincipal h1 {
        font-weight: 400;
        font-size: 30px;
        margin-bottom: 25px;
    }

    .principal {
        grid-template-columns: 1fr 1fr;
        padding: 5px;
    }

    .contPresentacioLeft {
        display: grid;
        grid-template-columns: 2fr 1fr;
        text-align: center;
        justify-content: center;
        align-items: center;

    }

    .contPresentacioRigth {
        display: grid;
        grid-template-columns: 1fr 2fr;
        text-align: center;
        justify-content: center;
        align-items: center;
    }


    .textoPresentacion {
        padding: 50px;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    /* Carrusel de productos */
    .carruselAutores {
        font-family: lemonMilLight;
        display: flex;
        /* Usa flexbox */
        justify-content: center;
        /* Alinea al centro horizontalmente */
        background-color: #080E1C;
        padding: 35px;
        padding-bottom: 100px;
        color: white;
    }

    .carousel-container {
        position: relative;
        /* Posición relativa */
        width: 100%;
        /* Ancho del contenedor */
        overflow: hidden;
        /* Oculta el desbordamiento */

    }

    .carousel {
        display: flex;
        /* Usa flexbox */
        overflow: hidden;
        /* Oculta el desbordamiento */
    }

    .carousel-items {
        display: flex;
        /* Usa flexbox */
        transition: transform 0.5s ease;
        /* Transición de transformación */
    }

    .carousel article {
        flex: 0 0 calc(18%);
        /* Flexible, sin crecer ni encoger, ancho fijo para mostrar 4 artículos */
        margin: 10px;
        /* Margen */
        /* Padding */
        background: rgba(255, 255, 255, 0.9);

        /* Sombra */
        text-align: left;
        border-radius: 15px;

    }

    .contTextCarrusel {
        padding: 25px;
    }

    .carousel a {
        text-decoration: none;
        color: black;

    }

    .tituloCarrousel {
        font-family: lemonMilBold;
    }

    .contImgCarrusel {
        height: 300px;
        overflow: hidden;
        border-radius: 15px 15px 45px 0px;
    }

    .carousel img {
        position: relative;
        /* Altura automática */

        margin-bottom: 10px;
    }

    /* Botones de navegación del carrusel */
    #prevBtn,
    #nextBtn {
        position: absolute;
        /* Posición absoluta */
        top: 50%;
        /* Alineación vertical al centro */
        transform: translateY(-50%);
        /* Ajuste vertical */
        background: rgba(0, 0, 0, 0.5);
        /* Fondo semitransparente */
        color: white;
        /* Color de texto blanco */
        border: none;
        /* Sin borde */
        padding: 10px;
        /* Padding */
        cursor: pointer;
        /* Cursor tipo puntero */
        z-index: 1;
        /* Índice de apilamiento */
    }

    #prevBtn {
        left: 0px;
        /* Alineación a la izquierda */
    }

    #nextBtn {
        right: 0px;
        /* Alineación a la derecha */
    }


    /* Sección collage de la página */

    /* Estilos para el contenedor principal de la sección */
    .sectionMoreProductos {
        display: grid;
        /* Usa una cuadrícula CSS */
        grid-template-columns: 1fr 1fr;
        /* Dos columnas iguales */
        padding: 5%;
        /* Padding interior */
        opacity: 0;
        /* Empieza invisible */
        transition: opacity 2s ease-in-out;
        /* Transición de opacidad */
    }

    .contacto {
        background-color: #1d1934;
        color: white;
        padding: 45px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .TitulosEdiciones {
        padding-left: 35px;
        padding-right: 35px;
        font-family: lemonMilBold;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        text-align: center;
    }


    .TitulosEdiciones img {
        max-width: 45%;
        object-fit: cover;
    }

    .collages li {
        list-style: none;
        overflow: hidden;
        height: 30vh;
        flex-grow: 1;
        border: solid white 2px;
    }

    .patrocinadores img {
        max-width: 30%;
        max-height: 120px;
    }
    .contAutores img{
        float: left;
        width: 40%;
    }
    .contGaleria {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
    }
    .contGaleria img {
        border: 10px solid white;
        border-bottom: 50px solid white;
        width: 60%;
    }
    .contImgGaleria {
        text-align: center;
        margin: 15px;
    }
    .contGaleria article {
        padding: 10px 40px;
    }

}

/* 📟 Tablets (769px - 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    .encabezado {
        display: grid;
        grid-template-columns: 0.5fr 1fr;

    }

    .contImg {
        height: 100%;
        background-size: 100%;

    }

    .menu {
        margin: 20px;
        list-style: none;
        /* Elimina los estilos de lista */
        display: flex;
        /* Usa flexbox para la lista de elementos del menú */
        flex-direction: row;
        /* Alinea los elementos en fila */
        align-items: center;
        /* Alinea verticalmente al centro */
        justify-content: left;

    }

    .menu a {
        margin-right: 20px;
        padding: 5px;
        border-bottom: 1px solid white;
        text-decoration: none;
        /* Elimina el subrayado de los enlaces */
        color: white;
        /* Color de texto negro */
        /* Espaciado interno de 2px */
        font-weight: 400;
        /* Texto en negrita */
    }

    .menu a:hover {
        border: 1px solid white;
        border-radius: 5px;
        background-color: white;
        color: black;
        transition-duration: 500ms;
    }

    .menuPequeno {
        display: none;
    }

    .mensajePrincipal {
        margin: 50px;
        padding: 50px;
    }

    .mensajePrincipal h1 {
        font-weight: 400;
        font-size: 30px;
        margin-bottom: 25px;
    }

    .principal {
        grid-template-columns: 1fr 1fr;
        padding: 50px;
    }

    .contPresentacion {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        justify-content: center;
        align-items: center;

    }

    .textoPresentacion {
        padding: 50px;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    /* Carrusel de productos */
    .carruselAutores {
        font-family: lemonMilLight;
        display: flex;
        /* Usa flexbox */
        justify-content: center;
        /* Alinea al centro horizontalmente */
        background-color: #080E1C;
        padding: 35px;
        padding-bottom: 100px;
        color: white;
    }

    .carousel-container {
        position: relative;
        /* Posición relativa */
        width: 100%;
        /* Ancho del contenedor */
        overflow: hidden;
        /* Oculta el desbordamiento */

    }

    .carousel {
        display: flex;
        /* Usa flexbox */
        overflow: hidden;
        /* Oculta el desbordamiento */
    }

    .carousel-items {
        display: flex;
        /* Usa flexbox */
        transition: transform 0.5s ease;
        /* Transición de transformación */
    }

    .carousel article {
        flex: 0 0 calc(20%);
        /* Flexible, sin crecer ni encoger, ancho fijo para mostrar 4 artículos */
        margin: 10px;
        /* Margen */
        /* Padding */
        background: rgba(255, 255, 255, 0.9);

        /* Sombra */
        text-align: left;
        border-radius: 15px;

    }

    .contTextCarrusel {
        padding: 25px;
    }

    .carousel a {
        text-decoration: none;
        color: black;

    }

    .tituloCarrousel {
        font-family: lemonMilBold;
        text-align: center;
    }

    .contImgCarrusel {
        height: 300px;
        overflow: hidden;
        border-radius: 15px 15px 45px 0px;
    }

    .carousel img {
        position: relative;
        /* Altura automática */

        margin-bottom: 10px;
    }

    /* Botones de navegación del carrusel */
    #prevBtn,
    #nextBtn {
        position: absolute;
        /* Posición absoluta */
        top: 50%;
        /* Alineación vertical al centro */
        transform: translateY(-50%);
        /* Ajuste vertical */
        background: rgba(0, 0, 0, 0.5);
        /* Fondo semitransparente */
        color: white;
        /* Color de texto blanco */
        border: none;
        /* Sin borde */
        padding: 10px;
        /* Padding */
        cursor: pointer;
        /* Cursor tipo puntero */
        z-index: 1;
        /* Índice de apilamiento */
    }

    #prevBtn {
        left: 0px;
        /* Alineación a la izquierda */
    }

    #nextBtn {
        right: 0px;
        /* Alineación a la derecha */
    }


    /* Sección collage de la página */

    /* Estilos para el contenedor principal de la sección */
    .sectionMoreProductos {
        display: grid;
        /* Usa una cuadrícula CSS */
        grid-template-columns: 1fr 1fr;
        /* Dos columnas iguales */
        padding: 5%;
        /* Padding interior */
        opacity: 0;
        /* Empieza invisible */
        transition: opacity 2s ease-in-out;
        /* Transición de opacidad */
    }

    .contacto {
        background-color: #1d1934;
        color: white;
        padding: 45px;
        padding-left: 20%;
        padding-right: 20%;
    }

    .TitulosEdiciones {
        padding-left: 35px;
        padding-right: 35px;
        font-family: lemonMilBold;
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        text-align: right;
    }


    .TitulosEdiciones img {
        max-width: 45%;
        object-fit: cover;
    }

    .collages li {
        list-style: none;
        overflow: hidden;
        height: 35vh;
        flex-grow: 1;
        border: solid white 2px;
    }

    .patrocinadores img {
        max-width: 30%;
        max-height: 120px;
    }
    
    .contAutores img{
        float: left;
        width: 35%;
    }
    .contGaleria {
        display: grid;
        grid-template-columns: 2fr 1fr;
        text-align: center;
        align-items: center;
    }
    .contGaleria img {
        border: 10px solid white;
        border-bottom: 50px solid white;
        width: 100%;
    }
    .contImgGaleria {
        margin: 15px;
    }
    .contGaleria article {
        padding: 25px;
    }
}

/* 💻 Laptops y pantallas medianas (1025px - 1200px) */
@media (min-width: 1025px) and (max-width: 1200px) {
    .encabezado {
        display: grid;
        grid-template-columns: 1fr 1.2fr;

    }

    .contImg {
        height: 100%;
        background-size: 75%;

    }

    .menu {
        margin: 20px;
        list-style: none;
        /* Elimina los estilos de lista */
        display: flex;
        /* Usa flexbox para la lista de elementos del menú */
        flex-direction: row;
        /* Alinea los elementos en fila */
        align-items: center;
        /* Alinea verticalmente al centro */
        justify-content: left;

    }

    .menu a {
        margin-right: 20px;
        padding: 5px;
        border-bottom: 1px solid white;
        text-decoration: none;
        /* Elimina el subrayado de los enlaces */
        color: white;
        /* Color de texto negro */
        /* Espaciado interno de 2px */
        font-weight: 400;
        /* Texto en negrita */
    }

    .menu a:hover {
        border: 1px solid white;
        border-radius: 5px;
        background-color: white;
        color: black;
        transition-duration: 500ms;
    }

    .menuPequeno {
        display: none;
    }

    .mensajePrincipal {
        margin: 50px;
        padding: 50px;
    }

    .mensajePrincipal h1 {
        font-weight: 400;
        font-size: 30px;
        margin-bottom: 25px;
    }

    .principal {
        grid-template-columns: 2fr 2fr 2fr;
        padding: 50px;
    }

    .contPresentacion {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        justify-content: center;
        align-items: center;

    }

    .textoPresentacion {
        padding: 50px;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    /* Carrusel de productos */
    .carruselAutores {
        font-family: lemonMilLight;
        display: flex;
        /* Usa flexbox */
        justify-content: center;
        /* Alinea al centro horizontalmente */
        background-color: #080E1C;
        padding: 35px;
        padding-bottom: 100px;
        color: white;
    }

    .carousel-container {
        position: relative;
        /* Posición relativa */
        width: 100%;
        /* Ancho del contenedor */
        overflow: hidden;
        /* Oculta el desbordamiento */

    }

    .carousel {
        display: flex;
        /* Usa flexbox */
        overflow: hidden;
        /* Oculta el desbordamiento */
    }

    .carousel-items {
        display: flex;
        /* Usa flexbox */
        transition: transform 0.5s ease;
        /* Transición de transformación */
    }

    .carousel article {
        flex: 0 0 calc(20%);
        /* Flexible, sin crecer ni encoger, ancho fijo para mostrar 4 artículos */
        margin: 10px;
        /* Margen */
        /* Padding */
        background: rgba(255, 255, 255, 0.9);

        /* Sombra */
        text-align: left;
        border-radius: 15px;

    }

    .contTextCarrusel {
        padding: 25px;
    }

    .carousel a {
        text-decoration: none;
        color: black;

    }

    .tituloCarrousel {
        font-family: lemonMilBold;
        text-align: center;
    }

    .contImgCarrusel {
        height: 300px;
        overflow: hidden;
        border-radius: 15px 15px 45px 0px;
    }

    .carousel img {
        position: relative;
        /* Altura automática */

        margin-bottom: 10px;
    }

    /* Botones de navegación del carrusel */
    #prevBtn,
    #nextBtn {
        position: absolute;
        /* Posición absoluta */
        top: 50%;
        /* Alineación vertical al centro */
        transform: translateY(-50%);
        /* Ajuste vertical */
        background: rgba(0, 0, 0, 0.5);
        /* Fondo semitransparente */
        color: white;
        /* Color de texto blanco */
        border: none;
        /* Sin borde */
        padding: 10px;
        /* Padding */
        cursor: pointer;
        /* Cursor tipo puntero */
        z-index: 1;
        /* Índice de apilamiento */
    }

    #prevBtn {
        left: 0px;
        /* Alineación a la izquierda */
    }

    #nextBtn {
        right: 0px;
        /* Alineación a la derecha */
    }


    /* Sección collage de la página */

    /* Estilos para el contenedor principal de la sección */
    .sectionMoreProductos {
        display: grid;
        /* Usa una cuadrícula CSS */
        grid-template-columns: 1fr 1fr;
        /* Dos columnas iguales */
        padding: 5%;
        /* Padding interior */
        opacity: 0;
        /* Empieza invisible */
        transition: opacity 2s ease-in-out;
        /* Transición de opacidad */
    }

    .contacto {
        background-color: #1d1934;
        color: white;
        padding: 45px;
        padding-left: 20%;
        padding-right: 20%;
    }

    .TitulosEdiciones {
        padding-left: 35px;
        padding-right: 35px;
        font-family: lemonMilBold;
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        text-align: right;
    }


    .TitulosEdiciones img {
        max-width: 35%;
        object-fit: cover;
    }

    .collages li {
        list-style: none;
        overflow: hidden;
        height: 40vh;
        flex-grow: 1;
        border: solid white 2px;
    }

    .patrocinadores img {
        max-width: 25%;
        max-height: 120px;
    }
    .contColumnasAutores {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .contAutores img{
        float: left;
        width: 35%;
    }
    .contGaleria {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        align-items: center;
    }
    .contGaleria img {
        border: 10px solid white;
        border-bottom: 50px solid white;
        width: 85%;
    }
    .bordeDerecho {

        border-right: dotted #ffffff 5px;
    }
    .contImgGaleria {
        margin: 25px;
    }
    .contGaleria article {
        padding: 50px;
    }
}

/* 🖥️ Pantallas grandes (1201px - 1600px) */
@media (min-width: 1201px) and (max-width: 1600px) {
    .encabezado {
        display: grid;
        grid-template-columns: 1fr 1.2fr;
    }

    .contImg {
        height: 100%;
        background-size: 65%;

    }

    .menu {
        margin: 20px;
        list-style: none;
        /* Elimina los estilos de lista */
        display: flex;
        /* Usa flexbox para la lista de elementos del menú */
        flex-direction: row;
        /* Alinea los elementos en fila */
        align-items: center;
        /* Alinea verticalmente al centro */
        justify-content: left;

    }

    .menu a {
        margin-right: 20px;
        padding: 5px;
        border-bottom: 1px solid white;
        text-decoration: none;
        /* Elimina el subrayado de los enlaces */
        color: white;
        /* Color de texto negro */
        /* Espaciado interno de 2px */
        font-weight: 400;
        /* Texto en negrita */
    }

    .menu a:hover {
        border: 1px solid white;
        border-radius: 5px;
        background-color: white;
        color: black;
        transition-duration: 500ms;
    }

    .menuPequeno {
        display: none;
    }

    .mensajePrincipal {
        margin: 50px;
        padding: 50px;
    }

    .mensajePrincipal h1 {
        font-weight: 400;
        font-size: 30px;
        margin-bottom: 25px;
    }

    .principal {
        grid-template-columns: 2fr 2fr 2fr 1fr;
        padding: 50px;
    }

    .contPresentacion {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        justify-content: center;
        align-items: center;

    }

    .textoPresentacion {
        padding: 50px;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .tituloCarrousel {
        text-align: center;
        text-transform: uppercase;

    }

    .tituloCarrousel h1 {

        padding: 1%;
    }

    /* Carrusel */
    .carruselAutores {
        font-family: lemonMilLight;
        display: flex;
        /* Usa flexbox */
        justify-content: center;
        /* Alinea al centro horizontalmente */
        background-color: #080E1C;
        padding: 35px;
        padding-bottom: 100px;
        color: white;
    }

    .carousel-container {
        position: relative;
        /* Posición relativa */
        width: 100%;
        /* Ancho del contenedor */
        overflow: hidden;
        /* Oculta el desbordamiento */

    }

    .carousel {
        display: flex;
        /* Usa flexbox */
        overflow: hidden;
        /* Oculta el desbordamiento */
    }

    .carousel-items {
        display: flex;
        /* Usa flexbox */
        transition: transform 0.5s ease;
        /* Transición de transformación */
    }

    .carousel article {
        flex: 0 0 calc(20%);
        /* Flexible, sin crecer ni encoger, ancho fijo para mostrar 4 artículos */
        margin: 10px;
        /* Margen */
        /* Padding */
        background: rgba(255, 255, 255, 0.9);

        /* Sombra */
        text-align: left;
        border-radius: 15px;

    }

    .contTextCarrusel {
        padding: 25px;
    }

    .carousel a {
        text-decoration: none;
        color: black;

    }

    .tituloCarrousel {
        font-family: lemonMilBold;
    }

    .contImgCarrusel {
        height: 300px;
        overflow: hidden;
        border-radius: 15px 15px 45px 0px;
    }

    .carousel img {
        position: relative;
        /* Altura automática */

        margin-bottom: 10px;
    }

    /* Botones de navegación del carrusel */
    #prevBtn,
    #nextBtn {
        position: absolute;
        /* Posición absoluta */
        top: 50%;
        /* Alineación vertical al centro */
        transform: translateY(-50%);
        /* Ajuste vertical */
        background: rgba(0, 0, 0, 0.5);
        /* Fondo semitransparente */
        color: white;
        /* Color de texto blanco */
        border: none;
        /* Sin borde */
        padding: 10px;
        /* Padding */
        cursor: pointer;
        /* Cursor tipo puntero */
        z-index: 1;
        /* Índice de apilamiento */
    }

    #prevBtn {
        left: 0px;
        /* Alineación a la izquierda */
    }

    #nextBtn {
        right: 0px;
        /* Alineación a la derecha */
    }


    /* Sección collage de la página */

    /* Estilos para el contenedor principal de la sección */
    .sectionMoreProductos {
        display: grid;
        /* Usa una cuadrícula CSS */
        grid-template-columns: 1fr 1fr;
        /* Dos columnas iguales */
        padding: 5%;
        /* Padding interior */
        opacity: 0;
        /* Empieza invisible */
        transition: opacity 2s ease-in-out;
        /* Transición de opacidad */
    }

    .contacto {
        background-color: #1d1934;
        color: white;
        padding: 45px;
        padding-left: 20%;
        padding-right: 20%;
    }

    .TitulosEdiciones {
        padding-left: 35px;
        padding-right: 35px;
        font-family: lemonMilBold;
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        text-align: right;
    }


    .TitulosEdiciones img {
        max-width: 35%;
        object-fit: cover;
    }

    .collages li {
        list-style: none;
        overflow: hidden;
        height: 45vh;
        flex-grow: 1;
        border: solid white 2px;
    }

    .patrocinadores img {
        max-width: 15%;
        max-height: 120px;
    }
    .contColumnasAutores {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .contAutores img{
        float: left;
        width: 30%;
    }
    .contGaleria {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        align-items: center;
    }
    .contGaleria img {
        border: 10px solid white;
        border-bottom: 50px solid white;
        width: 65%;
    }
    .bordeDerecho {

        border-right: dotted #ffffff 5px;
    }
    .contImgGaleria {
        margin: 25px;
    }
    .contGaleria article {
        padding: 50px;
    }

}

@media (min-width: 1601px) {
    .encabezado {
        display: grid;
        grid-template-columns: 1fr 1.2fr;
    }

    .contImg {
        height: 100%;
        background-size: 30%;

    }

    .menu {
        margin: 20px;
        list-style: none;
        /* Elimina los estilos de lista */
        display: flex;
        /* Usa flexbox para la lista de elementos del menú */
        flex-direction: row;
        /* Alinea los elementos en fila */
        align-items: center;
        /* Alinea verticalmente al centro */
        justify-content: left;

    }

    .menu a {
        margin-right: 20px;
        padding: 5px;
        border-bottom: 1px solid white;
        text-decoration: none;
        /* Elimina el subrayado de los enlaces */
        color: white;
        /* Color de texto negro */
        /* Espaciado interno de 2px */
        font-weight: 400;
        /* Texto en negrita */
    }

    .menu a:hover {
        border: 1px solid white;
        border-radius: 5px;
        background-color: white;
        color: black;
        transition-duration: 500ms;
    }

    .menuPequeno {
        display: none;
    }

    .mensajePrincipal {
        margin: 50px;
        padding: 50px;
    }

    .mensajePrincipal h1 {
        font-weight: 400;
        font-size: 30px;
        margin-bottom: 25px;
    }

    .principal {
        grid-template-columns: 2fr 2fr 2fr 1fr;
        padding: 50px;
    }

    .contPresentacion {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        justify-content: center;
        align-items: center;

    }

    .textoPresentacion {
        padding: 50px;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    /* Carrusel de productos */
    .carruselAutores {
        font-family: lemonMilLight;
        display: flex;
        /* Usa flexbox */
        justify-content: center;
        /* Alinea al centro horizontalmente */
        background-color: #080E1C;
        padding: 35px;
        padding-bottom: 100px;
        color: white;
    }

    .carousel-container {
        position: relative;
        /* Posición relativa */
        width: 100%;
        /* Ancho del contenedor */
        overflow: hidden;
        /* Oculta el desbordamiento */

    }

    .carousel {
        display: flex;
        /* Usa flexbox */
        overflow: hidden;
        /* Oculta el desbordamiento */
    }

    .carousel-items {
        display: flex;
        /* Usa flexbox */
        transition: transform 0.5s ease;
        /* Transición de transformación */
    }

    .carousel article {
        flex: 0 0 calc(20%);
        /* Flexible, sin crecer ni encoger, ancho fijo para mostrar 4 artículos */
        margin: 10px;
        /* Margen */
        /* Padding */
        background: rgba(255, 255, 255, 0.9);

        /* Sombra */
        text-align: left;
        border-radius: 15px;

    }

    .contTextCarrusel {
        padding: 25px;
    }

    .carousel a {
        text-decoration: none;
        color: black;

    }

    .tituloCarrousel {
        font-family: lemonMilBold;
    }

    .contImgCarrusel {
        height: 300px;
        overflow: hidden;
        border-radius: 15px 15px 45px 0px;
    }

    .carousel img {
        position: relative;
        /* Altura automática */

        margin-bottom: 10px;
    }

    /* Botones de navegación del carrusel */
    #prevBtn,
    #nextBtn {
        position: absolute;
        /* Posición absoluta */
        top: 50%;
        /* Alineación vertical al centro */
        transform: translateY(-50%);
        /* Ajuste vertical */
        background: rgba(0, 0, 0, 0.5);
        /* Fondo semitransparente */
        color: white;
        /* Color de texto blanco */
        border: none;
        /* Sin borde */
        padding: 10px;
        /* Padding */
        cursor: pointer;
        /* Cursor tipo puntero */
        z-index: 1;
        /* Índice de apilamiento */
    }

    #prevBtn {
        left: 0px;
        /* Alineación a la izquierda */
    }

    #nextBtn {
        right: 0px;
        /* Alineación a la derecha */
    }


    /* Sección collage de la página */

    /* Estilos para el contenedor principal de la sección */
    .sectionMoreProductos {
        display: grid;
        /* Usa una cuadrícula CSS */
        grid-template-columns: 1fr 1fr;
        /* Dos columnas iguales */
        padding: 5%;
        /* Padding interior */
        opacity: 0;
        /* Empieza invisible */
        transition: opacity 2s ease-in-out;
        /* Transición de opacidad */
    }

    .contacto {
        background-color: #1d1934;
        color: white;
        padding: 45px;
        padding-left: 20%;
        padding-right: 20%;
    }

    .TitulosEdiciones {
        padding-left: 35px;
        padding-right: 35px;
        font-family: lemonMilBold;
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: center;
        text-align: right;
    }


    .TitulosEdiciones img {
        max-width: 25%;
        object-fit: cover;
    }

    .collages li {
        list-style: none;
        overflow: hidden;
        height: 45vh;
        flex-grow: 1;
        border: solid white 2px;
    }

    .patrocinadores img {
        max-width: 15%;
        max-height: 120px;
    }
    .contColumnasAutores {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .contAutores img{
        float: left;
        width: 30%;
    }
    .contGaleria {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        align-items: center;
    }
    .contGaleria img {
        border: 10px solid white;
        border-bottom: 50px solid white;
        width: 75%;
    }
    .bordeDerecho {

        border-right: dotted #ffffff 5px;
    }
    .contImgGaleria {
        margin: 25px;
    }
    .contGaleria article {
        padding: 50px;
    }
}